<!DOCTYPE html>
<html>
<head>
    <title>Love Letter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static '/css/style.css' %}'>
</head>
<body>

<div class="header">
    <a class="sign" href="/">
      <span>Greatest Love Letters</span>
    </a>
</div>

<div class="row">
  <div class="leftcolumn">
    <div style="color: #1b365a;" class="card">
        <h1>{{posts.title}}</h1>
        <h5>{{posts.post_date}}</h5>
        <p>{{posts.body}}</p>
    </div>
  </div>
</div>

</body>
</html>