* {
  box-sizing: border-box;
}

body {
  font-family: Times New Roman,Courier New, Arial;
  padding: 20px;
  background: linear-gradient(90deg, rgba(170,219,241,0.7945772058823529) 0%, rgba(6,127,233,0.6433167016806722) 49%, rgba(35,87,154,1) 100%);
}

/* Header/Blog Title */
.header {
  padding: 20px;
  font-size: 60px;
  font-family: Times New Roman;
  text-align: center;
  background-color: rgba(255,255,255,.4);
  border-radius: 30px;
  color: #00000;
}

/* Left column */
.leftcolumn {
  float: left;
  width: 100%;
}

/* Add a card effect for articles */
.card {
  background-color: rgba(255,255,255,.3);
  padding: 15px;
  margin-top: 20px;
  border-radius: 30px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn {
    width: 100%;
    padding: 0;
  }
}