* {
  box-sizing: border-box;
}

body {
  font-family: Times New Roman,Courier New, Arial;
  padding: 20px;
  background-image: url('images/birds.jpeg');
  background-repeat: repeat;
}

/* Header/Blog Title */
.header {
  padding: 20px;
  font-family: Times New Roman;
  text-align: center;
  background-color: rgba(255,255,255,.95);
  border-radius: 30px;
  color: #00000;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  width: 90%;
  margin: auto;
}

.header:hover {
  background-color: rgba(255,255,255,1);
}

/* Left column */
.leftcolumn {
  width: 90%;
  margin: auto;
}

/* Add a card effect for articles */
.card {
  background-color: rgba(255,255,255,.9);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin-top: 20px;
  border-radius: 30px;
}

.card:hover {
  background-color: rgba(255,255,255, 0.95);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn {
    width: 90%;
    padding: 0;
  }
}

/*-- Header Neon Styles --*/

.sign {
  text-decoration: none;
  min-height: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 20px;
}
.sign span {
    font-size: clamp(3rem, 8vw, 6rem);
    text-align: center;
    line-height: 1;
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
  }

/*-- Animation Keyframes --*/

@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}